// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.plan-title {
    color: azure;
    font-size: 25px;
    font-weight: bold;
}

.text-big {
    font-size: 35px !important;
    font-weight: bold;
    color: bisque;
}

.alg-r {
    text-align: left !important;
}

.price-tag {
    border:2px solid #EEEEEE;
    padding: 3px;
    margin-bottom: 25px !important;
    width: 50%;
    border-radius: 3px;
}

.center-elements {
    justify-content: center;
    margin: 0 auto;
}

// Index Page Elements

.left-card {
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 15px;
    background: rgba(51, 67, 80, 0.5)!important;
    background-size: cover;
    height: 700px;
    text-align: center;
    color: white;
}

.right-card {
    margin-right: 50px;
    margin-top: 350px;
    border-radius: 15px;
    background: rgba(51, 67, 80, 0.5)!important;
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}

.btn-outline-primary-c {
    border:1px solid bisque;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px !important;
    width: 50%;
    color: bisque;
}

.sign-in-btn {
    color:rgb(170, 203, 230) !important;
}
.sign-in-btn:hover {
    font-weight: bold !important;
    color: rgb(250, 251, 252) !important;
    border:4px solid rgb(170, 218, 207);
    padding-top: 13px;
    padding-bottom: 13px;
  }