// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.plan-title {
    color: azure;
    font-size: 25px;
    font-weight: bold;
}

.text-big {
    font-size: 35px !important;
    font-weight: bold;
    color: bisque;
}

.alg-r {
    text-align: left !important;
}

.price-tag {
    border:2px solid #EEEEEE;
    padding: 3px;
    margin-bottom: 25px !important;
    width: 50%;
    border-radius: 3px;
}

.center-elements {
    justify-content: center !important;
    margin: 0 auto !important;
}

// Index Page Elements

.left-card {
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 15px;
    background: rgba(51, 67, 80, 0.5)!important;
    background-size: cover;
    height: 700px;
    text-align: center;
    color: white;
}

.right-card {
    margin-right: 50px;
    margin-top: 350px;
    border-radius: 15px;
    background: rgba(51, 67, 80, 0.5)!important;
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}


.no-right-left-margin {
    padding-left: 0;
    padding-right: 0;
}