<footer id='sticky-footer' class='py-4 text-white-50 bottom'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8 text-center" id ='text-bottom'>
        <br>
        <small>Made with Ruby on Rails by Maria Vaghani | New York</small>
      </div>
      <div class="col-xs-2">
        <p id='links-footer'>
          <%= link_to image_tag("icons8-github-100.png", size: "60x60", alt: "GitHub Maria Vaghani"), "https://github.com/mariavaghani" %>
          <%= link_to image_tag("icons8-linkedin-100.png", size: "60x60", alt: "LinkedIn Maria Vaghani"), "https://www.linkedin.com/in/maria-vaghani/" %>
        </p>
      </div>
    </div>
  </div>
</footer>